@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --background-color: black;
  --text-color: hsl(0, 0%, 100%);
  --bg-gradient-green: -webkit-linear-gradient(bottom, #2dbd6e, #a6f77b);
  --bg-gradient-black: linear-gradient(to right, #434343 0%, black 100%);
}